<div class="col-md-2 left">
    <dl class="nav navbar-left" style="list-style:none">
        <dd routerLinkActive="active"><a routerLink="books">Books</a></dd>
        <dd routerLinkActive="active"><a routerLink="dailyIssues">Issue Book</a></dd>
        <dd routerLinkActive="active"><a routerLink="shelfs">Shelfs</a></dd>
        <dd routerLinkActive="active"><a routerLink="booksIssued">Books Issued</a></dd>
    </dl>
</div>
<!--<div class="jumbotron" style="background-color:cadetblue;text-shadow:inherit">
    <h1>This is the about page!!!</h1>
</div>
<div class="col-md-9 col-md-push-3">
    <router-outlet></router-outlet>
</div>-->
<div class="col-md-10">
    <router-outlet></router-outlet>
</div>


