/*table, tr, td {
    border-bottom: 1px solid white;
    border-collapse: collapse;
    font-weight: bold;
}*/

/*input.btn {
    font-weight: bold;
    background-color: sandybrown;
    border-color: bisque;
    color: black;
}*/
